<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.galaxy.springboot.mapper.ClassifyTblMapper" >
  <resultMap id="BaseResultMap" type="com.galaxy.springboot.entity.ClassifyTbl" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="classify" property="classify" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cid, classify
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.galaxy.springboot.entity.ClassifyTblExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from classify_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from classify_tbl
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classify_tbl
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.galaxy.springboot.entity.ClassifyTblExample" >
    delete from classify_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.galaxy.springboot.entity.ClassifyTbl" >
    insert into classify_tbl (cid, classify)
    values (#{cid,jdbcType=INTEGER}, #{classify,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.galaxy.springboot.entity.ClassifyTbl" >
    insert into classify_tbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="classify != null" >
        classify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="classify != null" >
        #{classify,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.galaxy.springboot.entity.ClassifyTblExample" resultType="java.lang.Integer" >
    select count(*) from classify_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update classify_tbl
    <set >
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.classify != null" >
        classify = #{record.classify,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update classify_tbl
    set cid = #{record.cid,jdbcType=INTEGER},
      classify = #{record.classify,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.galaxy.springboot.entity.ClassifyTbl" >
    update classify_tbl
    <set >
      <if test="classify != null" >
        classify = #{classify,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.galaxy.springboot.entity.ClassifyTbl" >
    update classify_tbl
    set classify = #{classify,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  
  
  	<select id="selcttbl"  resultMap="ClassifyMap">
		SELECT * FROM `classify_tbl` cl  LEFT JOIN `classify_er_tbl` ce ON cl.`cid`=ce.`classify_id`;
	</select>
	
	<select id="selcttbler" parameterType="int" resultMap="ClassifyMap">
	SELECT * FROM `classify_tbl` cl  LEFT JOIN `classify_er_tbl` ce ON cl.`cid`=ce.`classify_id` WHERE cl.cid=#{cid};
  </select>
  
  
  
  
  	<resultMap id="ClassifyMap"
		type="com.galaxy.springboot.entity.ClassifyTbl">
		
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="classify" property="classify" jdbcType="VARCHAR" />
		
		<collection property="classifyErTbl"
			ofType="com.galaxy.springboot.entity.ClassifyErTbl">
			<id column="id" property="id" jdbcType="INTEGER" />
    <result column="classify_er" property="classifyEr" jdbcType="VARCHAR" />
    <result column="classify_id" property="classifyId" jdbcType="INTEGER" />
		</collection>
	</resultMap>
  
  
  
</mapper>